html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ol[class] {
  margin: 0;
  text-decoration: none;
}

.list,
li {
  list-style: none;
}

.list {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;

}

.main_educetion {
}

.section {
 
  background-color: var(--white-color);
}

.conteiner {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  
}

a {
  text-decoration: none;
  color: var(--naviblue-color);
}

:root {
  --naviblue-color: #2e2f42;
  --white-color: #ffffff;
  --ocean-color: #404bbf;
  --iris-color: #4d5ae5;
  --green-color: #31d0aa;
  --slate-color: #434455;
  --lightslate-color: #8e8f99;
  --cornflower-color: #e7e9fc;
  --cloud-color: #f4f4fd;
}

/* Header */

header {
  
}

.header-navi {
  display: flex;
  justify-content: center;
}

.navi {
  display: flex;
  
}

.item {
  
  text-align: center;
}

.header-logo {
  display: flex;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo {
  overflow: hidden;
}

.header-list {
  display: flex;
}

.header-item {
  display: flex;
}

.header-list .header-item + .header-item {
  margin-left: 40px;
}

.current {
  color: var(--ocean-color);
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--ocean-color);
  border-radius: 2px;
  left: 0;
  bottom: -1px;
}

.studio,
.portfolio,
.header-item {
  position: relative;
}

.curren {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: var(--ocean-color);
}

.header-web {
  font-family: "Raleway";
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--ocean-color);
}

.header-webstudio {
  font-family: "Raleway";
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--naviblue-color);
}

.web_studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--white-color);
}

.header-contac {
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.item_svg:hover,
.mail:hover,
.tel:hover,
.header-contac:hover {
  color: var(--ocean-color);
}

/* Top line */

.out_list {
  display: flex;
  vertical-align: middle;
  margin-left: auto;
  text-align: center;
}

.out_list .item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.out_list .item + .item {
  margin-left: 40px;
}

.mail {
 
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.tel {
  
  height: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.out_list .envelope:focus,
.out_list .envelope:hover {
  fill: #2196f3;
}

.out_list .mail:focus,
.out_list .mail:hover,
.out_list .tel:focus,
.out_list .tel:hover {
  fill: #2196f3;
}

/* Hero */

.hero {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/people-office.jpg);
  background-color: rgba(46, 47, 66, 0.7);
  text-align: center;
  }

.main_class {
  margin-bottom: 120px;
}

.hero-title {
  margin: auto;
  width: 550px;
  padding-top: 188px;
  padding-bottom: 48px;
  text-align: center;
  font-size: 56px;
  line-height: calc(60 / 56);
  color: var(--white-color);
}

.hero_btm {
  margin: 0px;
  border-radius: 4px;
  padding: 16px 32px;
  border: var(--iris-color);
  min-width: 169px;
  background-color: var(--iris-color);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
}

.button_text {
  width: 105px;
  height: 24px;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--white-color);
  display: inline-block;
}

.hero_btm:hover,
.hero_btm:focus {
  background-color: var(--ocean-color);
}

/* Description */

.section_description {
  padding-top: 120px;
  padding-bottom: 120px;
}

.description {
  display: flex;
  
  justify-content: center;
  max-width: 1128;
  margin: 0px;
  padding: 0px;
}

.description_title:not(:last-child) {
  margin-right: 24px;
}

.description_title {
  display: inline-block;

}

.description-list {
  margin-bottom: 8px;
  width: 270px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--naviblue-color);
  display: inline;
}



.coment {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--slate-color);
}

.description_img {
  display: flex;
  padding-bottom: 8px;
}

.disc_img {
  padding: 24px 100px;
 
  background-color: #f5f4fa;
}

/* About */

.conteiner_our {
  position: relative;
}

.about-work {
  font-weight: 700;
  margin-bottom: 72px;
  text-align: center;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--naviblue-color);
}

.about_work {
  display: flex;

}

.about_img:not(:last-child) {
  margin-right: 24px;
}

.about_img {
  padding-bottom: 120px;
}

.thumb {
  position: relative;
  overflow: hidden;
  width: 360px;
}

.thumb > .label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* Our team */

.section_team {
 
  background-color: var(--cloud-color);
}

.team_tekst {
  padding-top: 120px;
  padding-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  color: var(--naviblue-color);
}

.user_team {
  display: flex;
  
  text-align: center;
  padding-bottom: 94px;
}

.team_img {
  
  width: 264px;
  background-color: var(--white-color);
}

.team_img {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12), 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.team_img:not(:last-child) {
  margin-right: 24px;
}

.our_img {
  margin-bottom: 24px;
  display: block;
  background-color: #fff;
}

.name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--naviblue-color);
}

.team_work {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--slate-color);
}

.social-icon {
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  
  padding-bottom: 30px;
  background-color: var(--white-color);
}

.social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: start;

}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--cloud-color);
 
  background-color: var(--iris-color);
}

.social-icon .icon {
  fill: currentColor;
}

.icon:focus,
.icon:hover,
.user_team .social-link:hover,
.user_team .social-link:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
}

/* Regular customers */

.client {
  margin-top: 120px;
 
  background-color: var(--white-color);
  display: flex;

}

.cust_link {
  padding-bottom: 120px;
}

.customers {
  padding-top: 120px;
  padding-bottom: 50px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  color: var(--naviblue-color);
}

.cust_link .dfg {
  width: 164px;
  height: 88px;
  border: 1px solid var(--lightslate-color);
  border-radius: 4px;
  
}

.dfg {
  display: inline-flex;
  border-radius: 4px;
}

.dfg:not(:last-child) {
  margin-right: 24px;
}

.cust_link .meta {
  width: 100%;
  height: 100%;
  
  display: flex;
}

.cust_link .icon {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  fill: var(--lightslate-color);
}

.cust_link .dfg:hover,
.cust_link .dfg:focus,
.cust_link .icon:hover,
.cust_link .icon:focus {
  fill: var(--iris-color);
  border-color: var(--iris-color);
}

/* Section Portfolio */

.section_portfolio {
  position: relative;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-color);
}

.conteiner_portfolio {
  position: relative;
  justify-content: end;

  border: 0px;
  
}

.list_portfolio {
  display: flex;

  justify-content: center;
  text-align: center;
  align-items: center;
  min-width: 586px;
}

.link_portfolio {
  display: flex;
  padding-top: 10px;
  padding-bottom: 72px;
}

.link_portfolio:not(:last-child) {
  margin-right: 24px;
}

.img_portfolio {
  display: flex;
  flex-wrap: wrap;
 
}

.portfolio_tekst {
  width: 360px;
}

.portfolio_list {
  width: 360px;
  border: 1px solid var(--white-color);
  margin-right: 22px;
  margin-bottom: 48px;
  background-color: var(--white-color);
}

.portfolio_list:nth-child(3n) {
  margin-right: 0;
}

.portfolio_list:nth-child(n + 7) {
  margin-bottom: 72px;
}

.portfolio-subtitle {
  position: relative;
  overflow: hidden;
}

.portfolio_text {
  padding: 63px 40px;
  display: flex;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  font-weight: 00;
  font-size: 18px;
  line-height: calc(28 / 18);


  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle:hover .portfolio_text {
  transform: translatex(0);

  color: var(--white-color);
}

.button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.about_text {
  width: 322px;
  margin: 0 24px 20px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--slate-color);

}

/* Footer */

.conteiner_footer {
  display: inline-block;
  display: flex;
}

.footer {
  margin: 0px;
  padding: auto;
  background: var(--naviblue-color);
}

.footer_nav {
  margin-right: 120px;
  width: 264px;
  padding-top: 100px;
 
}

.footer_web {
  justify-content: flex-start;

}

.footer_list {
  margin-right: 70px;
  padding-top: 20px;

  justify-content: flex-start;
  font-style: normal;
}

.footer-link {
  padding-top: 16px;
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--cloud-color);
}


.footer_icons {
 
  display: inline-block;
  width: 270px;
  padding-bottom: 132px;
  padding-top: 100px;
 
}

.social-icons {
  display: flex;
  padding: 0;
  margin: 0;

}

.social_ftr {
 
  padding-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--white-color);
  color: var(--white-color);
}

.social-icons > .social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
 
}

.social-icons .social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.105);
  color: var(--white-color);
}

.social-icons .icon {
  fill: currentColor;
}

.social-icons .icon:hover,
.social-icons .icon:focus,
.social-icons .social-link:hover,
.social-icons .social-link:focus {
  background-color: var(--green-color);
  color: var(--cloud-color);
}

/* Modal */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  min-height: 576px;
  min-width: 406px;
  padding: 15px;
  background-color: #fcfcfc;
 
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_img {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: var(--naviblue-color);
  background: var(--cornflower-color);
}

.modal_close {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  fill: currentColor;

 
  cursor: pointer;

}

.modal_img:hover,
.modal_img:focus {
  color: var(--white-color);
  background-color: var(--ocean-color);
}
